In [1]:
def my_function(x) : 
    print(x)

In [2]:
my_function('hello')

hello

In [3]:
def humdred(x) : 
    return x + 100  # 함수에 값을 할당하기 위해서는 return 반드시 사용해야 함

In [4]:
y = humdred(20)
y

120

In [5]:
def sum(x, y) :
    return x + y

In [6]:
sum(3, 8)

11

In [7]:
# 디폴트값 정해주기
def sum_ten(x, y = 10) :
    return x + y

In [8]:
sum_ten(2)

12

In [9]:
def sum_30(x = 10, y = 20) :
    return x + y

In [10]:
sum_30(2, 6)

8

In [11]:
sum_30()

30

In [12]:
def ten(x) :
    if x > 10 :
        print('large')
    else :
        print('small')

In [13]:
ten(2)

small

In [14]:
def plus_minus_ten(x) :
    if x > 10 :
        return x + 10
    else : 
        return x - 10

In [15]:
plus_minus_ten(2)

-8

In [16]:
plus_minus_ten(16)

26

데이터 내에서 함수 만들기

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("galaxy.csv")

print(df.shape)
df.head()

(1485, 9)

,BuyItNow,startprice,carrier,color,productline,noDescription,charCountDescription,upperCaseDescription,sold
0,0,199.99,NaN,White,Galaxy_S9,contains description,0,0,1
1,0,235.00,NaN,NaN,Galaxy_Note9,contains description,0,0,0
2,0,199.99,NaN,NaN,Unknown,no description,100,2,0
3,1,175.00,AT&T,Space Gray,Galaxy_Note9,contains description,0,0,1
4,1,100.00,NaN,Space Gray,Galaxy_S8,contains description,0,0,1

In [19]:
# 함수 생성
def price(x) :
    if x % 1 == 0 :
        return x * 100
    else : 
        return (x + 0.01) * 100

In [20]:
# 특정 칼럼에 함수 적용
df['startprice'].apply(lambda x : price(x))

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [21]:
# 데이터 프레임에서 함수 적용
df.apply(lambda x : price(x['startprice']), axis=1)

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Length: 1485, dtype: float64

In [22]:
# lambda안에 if절 넣기
df['startprice'].apply(lambda x : x * 100 if x % 1 == 0 else (x + 0.01) * 100)

0       20000.0
1       23500.0
2       20000.0
3       17500.0
4       10000.0
         ...
1480     8951.0
1481    23996.0
1482    33000.0
1483     8900.0
1484    12000.0
Name: startprice, Length: 1485, dtype: float64

In [23]:
# lambda안에 if절 넣기
df['startprice'].apply(lambda x : 200 if x > 200 else (100 if x > 100 else 0))

0       100
1       200
2       100
3       100
4         0
       ...
1480      0
1481    200
1482    200
1483      0
1484    100
Name: startprice, Length: 1485, dtype: int64