In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
# 데이터 불러오기
df = pd.read_csv("advertising.csv")

print(df.shape)
df.head(3)

(1000, 10)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,NaN,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,3/27/2016 0:53,0
1,80.23,31.0,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,4/4/2016 1:39,0
2,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,3/13/2016 20:35,0

In [3]:
df['Country'].nunique()

237

In [4]:
df['Country'].unique()

array(['Tunisia', 'Nauru', 'San Marino', 'Italy', 'Iceland', 'Norway',
       'Myanmar', 'Australia', 'Grenada', 'Ghana', 'Qatar', 'Burundi',
       'Egypt', 'Bosnia and Herzegovina', 'Barbados', 'Spain',
       'Palestinian Territory', 'Afghanistan',
       'British Indian Ocean Territory (Chagos Archipelago)',
       'Russian Federation', 'Cameroon', 'Korea', 'Tokelau', 'Monaco',
       'Tuvalu', 'Greece', 'British Virgin Islands',
       'Bouvet Island (Bouvetoya)', 'Peru', 'Aruba', 'Maldives',
       'Senegal', 'Dominica', 'Luxembourg', 'Montenegro', 'Ukraine',
       'Saint Helena', 'Liberia', 'Turkmenistan', 'Niger', 'Sri Lanka',
       'Trinidad and Tobago', 'United Kingdom', 'Guinea-Bissau',
       'Micronesia', 'Turkey', 'Croatia', 'Israel',
       'Svalbard & Jan Mayen Islands', 'Azerbaijan', 'Iran',
       'Saint Vincent and the Grenadines', 'Bulgaria', 'Christmas Island',
       'Canada', 'Rwanda', 'Turks and Caicos Islands', 'Norfolk Island',
       'Cook Islands', 'Guatemala', "Cote d'Ivoire", 'Faroe Islands',
       'Ireland', 'Moldova', 'Nicaragua', 'Montserrat', 'Timor-Leste',
       'Puerto Rico', 'Central African Republic', 'Venezuela',
       'Wallis and Futuna', 'Jersey', 'Samoa',
       'Antarctica (the territory South of 60 deg S)', 'Albania',
       'Hong Kong', 'Lithuania', 'Bangladesh', 'Western Sahara', 'Serbia',
       'Czech Republic', 'Guernsey', 'Tanzania', 'Bhutan', 'Guinea',
       'Madagascar', 'Lebanon', 'Eritrea', 'Guyana',
       'United Arab Emirates', 'Martinique', 'Somalia', 'Benin',
       'Papua New Guinea', 'Uzbekistan', 'South Africa', 'Hungary',
       'Falkland Islands (Malvinas)', 'Saint Martin', 'Cuba',
       'United States Minor Outlying Islands', 'Belize', 'Kuwait',
       'Thailand', 'Gibraltar', 'Holy See (Vatican City State)',
       'Netherlands', 'Belarus', 'New Zealand', 'Togo', 'Kenya', 'Palau',
       'Cambodia', 'Costa Rica', 'Liechtenstein', 'Angola',
       'Equatorial Guinea', 'Mongolia', 'Brazil', 'Chad', 'Portugal',
       'Malawi', 'Singapore', 'Kazakhstan', 'China', 'Vietnam', 'Mayotte',
       'Jamaica', 'Bahamas', 'Algeria', 'Fiji', 'Argentina',
       'Philippines', 'Suriname', 'Guam', 'Antigua and Barbuda',
       'Georgia', 'Jordan', 'Saudi Arabia', 'Sao Tome and Principe',
       'Cyprus', 'Kyrgyz Republic', 'Pakistan', 'Seychelles',
       'Mauritania', 'Chile', 'Poland', 'Estonia', 'Latvia', 'Bahrain',
       'Colombia', 'Brunei Darussalam', 'Taiwan',
       'Saint Pierre and Miquelon', 'Finland',
       'French Southern Territories', 'Sierra Leone', 'Tajikistan',
       'Ecuador', 'Switzerland', 'France', 'Malaysia', 'Mauritius',
       'Japan', 'Greenland', 'Guadeloupe', 'Belgium', 'Honduras',
       'Paraguay', 'French Guiana', 'Northern Mariana Islands',
       'American Samoa', 'Austria', 'Tonga', 'New Caledonia',
       'United States of America', 'Morocco', 'Macedonia', 'Gabon',
       'Uganda', 'Saint Lucia', 'Niue', 'Zambia', 'Congo',
       'Pitcairn Islands', 'Anguilla', 'Sweden', 'Indonesia', 'Mexico',
       'Haiti', 'Gambia', 'El Salvador', 'Libyan Arab Jamahiriya',
       'Saint Barthelemy', 'Reunion', 'Panama', 'Dominican Republic',
       'Zimbabwe', 'Swaziland', 'Saint Kitts and Nevis', 'Burkina Faso',
       'Heard Island and McDonald Islands', 'Bolivia',
       'Netherlands Antilles', 'French Polynesia', 'Germany', 'Malta',
       'Sudan', "Lao People's Democratic Republic", 'Isle of Man',
       'Macao', 'United States Virgin Islands', 'Djibouti', 'Mali',
       'Romania', 'Cayman Islands', 'Ethiopia', 'Uruguay', 'Comoros',
       'Vanuatu', 'Nepal', 'Yemen', 'India', 'Cape Verde', 'Slovenia',
       'Denmark', 'Syrian Arab Republic', 'Andorra', 'Namibia',
       'Slovakia (Slovak Republic)', 'Armenia',
       'South Georgia and the South Sandwich Islands', 'Kiribati',
       'Marshall Islands', 'Bermuda', 'Mozambique', 'Lesotho'],
      dtype=object)

In [5]:
df['Country'].value_counts()

Country
France                                                 9
Czech Republic                                         9
Peru                                                   8
Turkey                                                 8
Greece                                                 8
                                                      ..
Romania                                                1
British Indian Ocean Territory (Chagos Archipelago)    1
Germany                                                1
Aruba                                                  1
Lesotho                                                1
Name: count, Length: 237, dtype: int64